name: CI
on:
  push:
    branches:
      - main
  pull_request:
    types: [synchronize, opened, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: coursier/cache-action@v7
      - uses: VirtusLab/scala-cli-setup@v1
        with:
          power: true
          jvm: "temurin:21"
      - name: Check formatting
        run: scala-cli fmt --check
      - name: Compile JVM
        run: scala-cli compile . --platform jvm
